h1 {
    font-family: monospace;
    text-align: center;
}



table {
    width: 100%;
    text-align: left;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 2.15em;
  }
  th, td {
    padding: .5em;
    min-width: 3.5em;
  }
  thead {
    font-family: Arial, Helvetica, sans-serif;
    background: #7a7a7a;
    color: #fcfcfc;
  }
  tbody tr:nth-child(odd){ 
    background: #fcfcfc;
  }
  tbody tr:nth-child(even){
    background: #dcdcdc;
  }

  footer {
    font-family: fantasy;
    color: black;
    text-align: center;
    
  }
  .over-budget {
    color: red;
    
  }